pkgbase = system-monitor-sway
	pkgdesc = Stacked CPU/memory/network graphs for Sway, matching gnome-shell-system-monitor-applet
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/jberclaz/system_monitor_sway
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = python-gobject
	depends = libgtop
	depends = gtk-layer-shell
	source = system-monitor-sway-0.1.0.tar.gz::https://github.com/jberclaz/system_monitor_sway/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = system-monitor-sway
